<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>dKodder | Web and App Development - IT Services</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/logo1.png">

    <!-- Core Stylesheet -->

    <link rel="stylesheet" href="static/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="static/css/responsive.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="#home">
                      <img src="static/img/logo.svg" height="28px" width="125px">
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#feature">Feature</a></li>
                                <li><a href="#faq">FAQ</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>

                            <!-- Button -->
                            <a href="#" class="btn login-btn ml-50">Log in</a>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Wellcome Area Start ##### -->
    <section class="welcome_area clearfix dzsparallaxer auto-init" data-options='{direction: "normal"}' id="home">
        <div class="divimage dzsparallaxer--target" id="particles-js" style="width: 101%; height: 130%; background-image: url(static/img/bg-img/bg-2.jpg)"></div>

        <div class="hero-content">
            <!-- blip -->
            <div class="dream-blip blip1"></div>
            <div class="dream-blip blip2"></div>
            <div class="dream-blip blip3"></div>
            <div class="dream-blip blip4"></div>

            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-md-7">
                        <div class="welcome-content">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Are you ready to grow up your business?</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">We have over 5 years of exprience in the web developing arena, crafting visually stunning memorable experiences for web and interfaces. Offering IT solutions for commercial and residential customers has been our experties for the past years in business. Our focus is not to sell a product or a service is mainly to equip your business with the best tools in the market to make you successful. </p>
                            <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#learn-more" class="btn dream-btn mr-3">Learn More</a>
                                <a href="#contact" class="btn dream-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <!-- Welcome Video Area -->
                    <div class="col-12 col-md-5">
                        <div class="welcome-video-area wow fadeInUp" data-wow-delay="0.5s">
                            <!-- Welcome Thumbnail -->
                            <div class="welcome-thumb">
                                <img src="static/img/bg-img/dKodder_02.svg" alt="">
                            </div>
                            <!-- Video Icon -->
                            <div class="video-icon">
                                <a href="https://www.youtube.com/watch?v=bSTJiVutNIs" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Wellcome Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <div class="cool-facts-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Fact -->
                    <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="cool_fact_icon">
                            <i class="ti-user"></i>
                        </div>
                        <!-- Single Cool Detail -->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">3215</span>+</h3>
                            <h2>Happy Clients</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Fact -->
                    <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.3s">
                        <div class="cool_fact_icon">
                            <i class="ti-check"></i>
                        </div>
                        <!-- Single Cool Detail -->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">784</span>+</h3>
                            <h2>Projets Done</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Fact -->
                    <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="cool_fact_icon">
                            <i class="ti-shortcode"></i>
                        </div>
                        <!-- Single Cool Detail -->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">13658</span>+</h3>
                            <h2>Lines of Code</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Fact -->
                    <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="cool_fact_icon">
                            <i class="ti-cup"></i>
                        </div>
                        <!-- Single Cool Detail -->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">23</span>+</h3>
                            <h2>Awards Won</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area section-padding-0-150 clearfix" id="about">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-6">
                    <div class="who-we-contant">
                        <!-- Dream Dots -->
                        <div class="dream-dots wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h4 class="wow fadeInUp" data-wow-delay="0.3s">We complete every project with extra care as customer need.</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Thanks to years of experience in the field, we are able to fulfill our clients needs in the web technology field. A unique team of focussed and talented developers will analyze your business needs to see the wider picture, and help you take your business to the next level. </p>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">Our goal is to use the right tools to identify your business potential in order to bring success to your door. Our team will aim to provide the most comprehensive and responsive designs in a way that your customers will have the flexibility to enjoy your web services.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="welcome-meter wow fadeInUp" data-wow-delay="0.7s">
                        <div class="sonar">
                            <div class="blip blip-1"></div>
                            <div class="blip blip-2"></div>
                            <div class="blip blip-3"></div>
                            <div class="blip blip-4"></div>
                            <div class="circle5"></div>
                            <div class="axis1"></div>
                            <div class="axis2"></div>
                            <div class="axis3"></div>
                            <div class="axis4"></div>
                            <div class="axis5"></div>
                            <div class="axis6"></div>
                            <div class="axis7"></div>
                            <div class="axis8"></div>
                            <div class="axis9"></div>
                            <div class="axis10"></div>
                            <div class="axis11"></div>
                            <div class="axis12"></div>
                            <div class="axis13"></div>
                            <div class="axis14"></div>
                            <div class="axis15"></div>
                            <div class="axis16"></div>
                            <div class="axis17"></div>
                            <div class="axis18"></div>
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                            <div class="sonar-AI"></div>
                            <div class="sonar-CIR circular"></div>
                        </div>
                        <!-- client meta -->
                        <div class="growing-company text-center mt-30 wow fadeInUp" data-wow-delay="0.8s">
                            <p>* Already growing up <span class="counter">5236</span> company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call_to_action_area dzsparallaxer auto-init" data-options='{direction: "normal"}'>
        <div class="divimage dzsparallaxer--target " style="width: 101%; height: 140%; background-image: url(static/img/bg-img/bg-1.jpg)"></div>
        <!-- Content Area -->
        <div class="cta-content-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="cta-content text-center">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">We don’t just build websites or give IT services, we build your business!</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Engaging, purposeful, and creative. Design, Development, Marketing, IT services and more. Expect nothing less than perfect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Are End ##### -->

    <!-- ##### Our Services Area Start ##### -->
    <section id = "learn-more" class="our_services_area section-padding-150-0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <!-- Dream Dots -->
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Core Services</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Our services go beyond market standards. We know what you want, we have what you need. Great customer service! </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-layout"></i>
                        </div>
                        <h6>Website Design</h6>
                        <p>With the best services in the industry we will create a website for your business that have it all: Beauty and Brains. Unlimited revision until you are 100% satisfied.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-ruler-pencil"></i>
                        </div>
                        <h6>Design</h6>
                        <p>The facede of your business tell your customers who you are, and what they can expect from you. A devoted team of designers will help you create a simple, unique and diverse design for all your needs.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-layout-tab-window"></i>
                        </div>
                        <h6>Brand Strategy</h6>
                        <p>Our main focus will be to help you dominate the social media space. Our team of specialist will commit to create a perfect marketing content for your business. </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-bar-chart"></i>
                        </div>
                        <h6>Digital Marketing</h6>
                        <p>At a high level, digital marketing refers to advertising delivered through digital channels such as search engines, websites, social media, email, and mobile apps. </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-blackboard"></i>
                        </div>
                        <h6>IT Services</h6>
                        <p>Our unique expertise in the IT field is going to keep your business running efficiently for your employees and your clients, as simple as giving us a phone call and we will take care of the problem for you!</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <h6>Apps Development</h6>
                        <p>App Development refers to the creation of computer applications for use on mobile devices such as tablets, smartphones and smart watches.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Our Services Area End ##### -->

    <!-- ##### FAQ & Timeline Area Start ##### -->
    <div id = "faq" class="faq-timeline-area section-padding-50-150">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="section-heading">
                        <!-- Dream Dots -->
                        <div class="dream-dots wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Frequently Asked Questions</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Answers to some questions you can have down the road about our services. In addition, feel free to give us a call anytime, you can also contact us via email or using our contact us form.</p>
                    </div>

                    <div class="dream-faq-area">
                        <dl>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.2s">How can I get an estimate for your services?</dt>
                            <dd class="wow fadeInUp" data-wow-delay="0.3s">
                                <p>We offer a variety of services from web design all the way to IT solutions. We pretent to give you all the tools you need to make your business successful. You can get a quote for any of those services calling us to the (786)-955-5174, also via email or using the contact us form in our website.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.3s">How long does the team takes to respond to a request?</dt>
                            <dd>
                                <p>Generally for any IT call our dedicated team of specialist will respond ASAP, as we know all your equiment must be running in perfect conditions. For all other design/development calls, we try to give you an immediate respond for what you are looking for but generally it can take up to 3 days to analyze exactly what are your needs.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.4s">What method of payments do you accept?</dt>
                            <dd>
                                <p>We accept any method of payments, cash, checks and any type of credit or debit card. We also work with zelle, cash app and paypal. When it comes to paying us for our services we like to give you all possible options. We also work with partial deposits at the begining of the order and full payments once order is completed. Your payment comes with unlimited revision until you are satisfied with the quality of the result.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.5s">Do you offer maintenance plans?</dt>
                            <dd>
                                <p>In fact we do offer several maintenance plans not only for IT solution but also for you web-software systems. Keeping your social networks, website page and branding up to date is one of the many plans we offer. IT solution plans are vary hadding because we will be checking your system constantly to make sure everything is working in perfect and optimal conditions. It is like preventive medicine for all your equipment!</p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="timelineBox">
                        <div class="timelineHeader">
                            <h3>Insides in our services</h3>
                            <span>Business specificts</span>
                        </div>
                        <div class="timelineBody">
                            <ul class="timeline">
                                <!-- Single Timeline -->
                                <li>
                                    <div class="timelineDot"></div>
                                    <div class="timelineDate">
                                        <p>IT Branch</p>
                                    </div>
                                    <div class="timelineWork">
                                        <h6>IT Support</h6>
                                        <span>Fixing you comnputer systems, and more. Networking, Automatizations, and everything alse give us a call.</span>
                                    </div>
                                </li>
                                <!-- Single Timeline -->
                                <li>
                                    <div class="timelineDot"></div>
                                    <div class="timelineDate">
                                        <p>Design</p>
                                    </div>
                                    <div class="timelineWork">
                                        <h6>Brand/Logo Design</h6>
                                        <span>Designing your logo, your brand and who you are as a business. Business cards, Slogans, videos and more.</span>
                                    </div>
                                </li>
                                <!-- Single Timeline -->
                                <li>
                                    <div class="timelineDot"></div>
                                    <div class="timelineDate">
                                        <p>Marketing</p>
                                    </div>
                                    <div class="timelineWork">
                                        <h6>Digital Marketing</h6>
                                        <span>We build your electronic marketing. Social network, emails, search engine optimization, a one stop for everything you need.</span>
                                    </div>
                                </li>
                                <!-- Single Timeline -->
                                <li>
                                    <div class="timelineDot"></div>
                                    <div class="timelineDate">
                                        <p>Development</p>
                                    </div>
                                    <div class="timelineWork">
                                        <h6>Website/App Development</h6>
                                        <span>Website, app development for your business, and much more. Inventory application and funcional Backend software.</span>
                                    </div>
                                </li>
                                <!-- Single Timeline -->
                                <li>
                                    <div class="timelineDot"></div>
                                    <div class="timelineDate">
                                        <p>Maintenance</p>
                                    </div>
                                    <div class="timelineWork">
                                        <h6>Digital-Hardware maintenance</h6>
                                        <span>We offer maintenance plans for your systems. Save your money with us and get an special monthly plan.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### FAQ & Timeline Area End ##### -->

    <!-- ##### Mission Area Start ##### -->
    <section class="our-mission-area section-padding-0-50 clearfix dzsparallaxer auto-init" data-options='{direction: "normal"}' id="feature">
        <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(static/img/bg-img/bg-3.jpg)"></div>

        <!-- Mission Content -->
        <div class="our-mission-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-4">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-shine"></i>
                            <h6>Quality</h6>
                            <p>Committed to quality, committed to you. quality begins on the inside. quality is the best business plan.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.3s">
                            <i class="ti-ruler-pencil"></i>
                            <h6>Creativity</h6>
                            <p>Here we keep it simple but incredibly stunning, be part of something different, and get a genius design with the vision to engage in originality!</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.4s">
                            <i class="ti-heart"></i>
                            <h6>Reliability</h6>
                            <p>Dedication to you is our aim. We promise what we demand. Professionalism in abundance to deliver the best results!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Mission Area End ##### -->




    <!-- ##### Footer Area Start ##### -->

    <footer class="footer-area bg-img"  style="background-image: url(static/img/core-img/pattern.png);">

        <!-- ##### Contact Area Start ##### -->
        <section id="contact" class="contact_us_area section-padding-150-0 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <!-- Dream Dots -->
                            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Contact With Us</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="contact_form">
                            <form action="{{ url_for('contact') }}" method="post" id="main_contact_form">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="success_fail_info"></div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.2s">
                                            <input type="text" name="name" id="name" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Name</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                            <input type="text" name="email" id="email" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                            <input type="text" name="subject" id="subject" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.5s">
                                            <textarea name="message" id="message" required></textarea>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                        <button type="submit" class="btn dream-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

      </section>
        <!-- ##### Contact Area End ##### -->

        <div class="footer-content-area section-padding-150-0">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text wow fadeInUp" data-wow-delay="0.2s">
                                <p>Made With <i class="fa fa-heart"></i> by <a href="#">dkodder LLC</a></p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.2s">
                                <h5>Location</h5>
                                <p>Miami, Florida</p>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                                <h5>E-mail</h5>
                                <p>info@dkodder.com</p>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.4s">
                                <h5>Phone</h5>
                                <p>(786)-955-5174</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins.js"></script>
    <script src="static/js/particles.js"></script>
    <script src="static/js/app.js"></script>
    <!-- Parallax js -->
    <script src="static/js/dzsparallaxer.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
    <script>
    $("a[href='#learn-more']").click(function(e) {
	e.preventDefault();

	var position = $($(this).attr("href")).offset().top;

	$("body, html").animate({
		scrollTop: position
	} ,991 );
});
    $("a[href='#contact']").click(function(e) {
e.preventDefault();

var position = $($(this).attr("href")).offset().top;

$("body, html").animate({
  scrollTop: position
} ,991 );
});
$("a[href='#home']").click(function(e) {
e.preventDefault();

var position = $($(this).attr("href")).offset().top;

$("body, html").animate({
scrollTop: position
} ,991 );
});
    </script>

</body>

</html>
